/* .Movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Movie header{
    width: 100%;
    height: 67px;
    background-color: #E5E5E5;
}
.Movie span{
        font-weight: 400;
    font-size: 24px;    
    color: #293845;
    
    text-decoration: none;
    margin: 55px 0;

} */